* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #917758;


}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 117rem;
    margin: 0 auto;
}

/****************
* HOME - HEADER *
*****************/

.home {
    background-image: url(../images/bg-home.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
}

.home .header {
    padding: 3.0rem 0;
}

.home .header .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .header .nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.0rem;
    width: 15rem;
}

.home .header .nav ul li a{
    text-decoration: none;
    color: #fafafa;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2.0rem;
    letter-spacing: 2px;
}

.home .header .nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.home .header .nav ul li .logo {
    margin: 0 3.0rem;
}

/****************
* HOME - BANNER *
*****************/

.home .banner {
    color: #fafafa;
    text-align: center;
    position: absolute;

    height: 27rem;
    width: 77rem;

    margin-top: -10rem;
    top: 50%;
    margin-left: -38.5rem;
    left: 50%;
   
    
}

.home .banner span {
    display: block;
    font-size: 1.4rem;
}

.home .banner h1 {
    font-size: 12rem;
}

.home .banner .slogan1{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--primary-color);
}

.home .banner .slogan2{
    margin-bottom: 2.0rem;
}

/****************
*      ABOUT    *
*****************/
.about {
    background-color: var(--primary-color);
}

.about .container {
    display: flex;
}

.about .timing {
    width: 33%;
    position: relative;
    top: -5rem;
    background-image: url(../images/brush-big.jpg);
    background-repeat: no-repeat;
    padding: 30px;
    text-align: center;
}

.about .experience {
    width: 66%;
    color: white;
    margin-left: 7%;
    margin-top: 10rem;
}

/*****************
* ABOUT - timing *
******************/

.about .timing .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 40px;
}

.about .timing .icon-cut{
    width: 5rem;
}

.about .timing .overlay h3{
    font-size: 3.2rem;
    text-transform: uppercase;
    color: var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    width: fit-content;
    margin: 0 auto 3rem auto;
}

.about .timing .text-hours{
    margin: 1.0rem 0;
}

.about .timing .text-hours:after{
    content: '•';
    color: #fafafa;
    display: block;
    font-size: 2.5rem;
    margin-top: 1rem;
}

.about .timing .text-hours:last-of-type:after{
    content: '|';
}

.about .timing .text-hours h4{
    color: gray;
    font-weight: 400;
    font-size: 1.6rem;
}

.about .timing span{
    color: white;
    font-size: 1.6rem;
    display: block;
}

/*********************
* ABOUT - experience *
**********************/

.about .experience h2{
    font-weight: 400;
    font-size: 4rem;

}

.about .experience h2:after{
    display: block;
    content: '';
    width: 10rem;
    background-color: #a38f78;
    height: 0.3rem;
    margin-bottom: 2rem;
}

.about .experience .text-experience{
    display: flex;
    justify-content: space-between;
}

.about .text-experience p{
    margin-bottom: 2rem;
    font-weight: 100;
    font-size: 1.7rem;
}