* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --primary-color: #917758;


}

body {
    font-family: 'Poppins', sans-serif;
}

/****************
* HOME - HEADER *
*****************/

.home {
    background-image: url(../images/bg-home.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
}

.home .header {
    padding: 3.0rem 0;
}

.home .header .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .header .nav ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.0rem;
    width: 15rem;
}

.home .header .nav ul li a{
    text-decoration: none;
    color: #fafafa;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2.0rem;;
    letter-spacing: 2px;
}

.home .header .nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.home .header .nav ul li .logo {
    margin: 0 3.0rem;
}

/****************
* HOME - BANNER *
*****************/

.home .banner {
    color: #fafafa;
    text-align: center;
    position: absolute;

    height: 27rem;
    width: 77rem;

    margin-top: -10rem;
    top: 50%;
    margin-left: -38.5rem;
    left: 50%;
   
    
}

.home .banner span {
    display: block;
    font-size: 1.4rem;
}

.home .banner h1 {
    font-size: 12rem;
}

.home .banner .slogan1{
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: var(--primary-color);
}

.home .banner .slogan2{
    margin-bottom: 2.0rem;
}